@charset "UTF-8";
/* line 7, ../_sass/_meyer-reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 17, ../_sass/_meyer-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 20, ../_sass/_meyer-reset.scss */
body {
  line-height: 1;
}

/* line 23, ../_sass/_meyer-reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../_sass/_meyer-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../_sass/_meyer-reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 36, ../_sass/_meyer-reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 41, ../_sass/_meyer-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../_sass/main.scss */
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  line-height: 1.5;
  padding-left: 1rem;
  color: #444;
}

/* line 11, ../_sass/main.scss */
.project-page {
  border: .5rem solid #444;
  max-width: 51rem;
  margin: 1rem;
}

/* line 16, ../_sass/main.scss */
h1, h2, h3 {
  line-height: 1;
  margin-bottom: .5rem;
}
/* line 19, ../_sass/main.scss */
h1 a, h2 a, h3 a {
  color: #444;
  text-decoration: none;
}
/* line 23, ../_sass/main.scss */
h1 a:hover, h2 a:hover, h3 a:hover {
  color: #777;
  font-style: italics;
}

/* line 28, ../_sass/main.scss */
h1 {
  font-size: 3rem;
  margin: 1rem 0 1.2rem;
}

/* line 32, ../_sass/main.scss */
h2 {
  font-size: 2rem;
}

/* line 35, ../_sass/main.scss */
h3 {
  font-size: 1.5rem;
}

/* line 38, ../_sass/main.scss */
p {
  max-width: 50rem;
  padding: .5rem;
}

/* line 42, ../_sass/main.scss */
a {
  color: #777;
  text-decoration: none;
}

/* line 46, ../_sass/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 49, ../_sass/main.scss */
small {
  font-size: 66%;
}

/* line 52, ../_sass/main.scss */
.underlined {
  text-decoration: underline;
}

/* line 55, ../_sass/main.scss */
picture, img {
  max-width: 100%;
  display: block;
  padding: .5rem 1rem .5rem 0;
}

/* line 60, ../_sass/main.scss */
.lead {
  font-size: 1.5rem;
  font-variant: small-caps;
  padding-left: 1rem;
  display: block;
  line-height: .9;
}

/* line 67, ../_sass/main.scss */
.project-list {
  display: flex;
  flex-wrap: wrap;
}
/* line 70, ../_sass/main.scss */
.project-list li {
  border: .5rem solid;
  max-width: 40rem;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
}
/* line 75, ../_sass/main.scss */
.project-list li h3:before {
  content: "»";
  margin-right: 6px;
}
