---
layout: default
---

<div class="home">

  	<h2 class="page-heading">These are my projects:</h2>

	{% for cat in site.category-list %}
	<ul class="project-list">
	  {% for page in site.pages %}
	    {% if page.resource == true %}
	      {% for pc in page.categories %}
	        {% if pc == cat %}
	          {% if pc == "projects" %}
	          <a href="{{ page.url }}">
	          	<li>
	          	{% include project-lead.html%}
	          	</li>
	          </a>
	          {% endif %}   <!-- cat-projects -->
	        {% endif %}   <!-- cat-match-p -->
	      {% endfor %}  <!-- page-category -->
	    {% endif %}   <!-- resource-p -->
	  {% endfor %}  <!-- page -->
	</ul>
	{% endfor %}  <!-- cat -->

</div>
